@media screen and (max-width: 640px) {
  :root {
    --section-width: 95%;
    flex-direction: column;
  }
  @media screen and (max-width: 640px) {
    #nav-bar .nav-links {
      display: none;
      width: 100%;
    }

    #nav-bar .nav-links.show {
      display: block;
    }

    #nav-bar .container {
      flex-direction: column;
      padding: 10px;
    }

    .nav-links ul {
      flex-direction: column;
      width: 100%;
    }

    .nav-links ul li {
      padding: 0.5rem 0;
    }
  }
  .nav-logo a.active {
    color: red;
  }

  #head h1 {
    font-size: 2.5rem;
  }
  #head #typing {
    font-size: 2rem;
  }
  .section-title {
    width: 80%;
    margin: 0 auto 20px;
  }
  .section-title h2 {
    font-size: 2rem;
  }
  .section-title .line {
    width: 50%;
  }
  #about .container {
    flex-direction: column;
    align-items: start;
    padding: 20px;
  }
  #about .container .side-1 .profile .pro-img {
    padding: 0;
    margin: 0 auto;
  }
  #about .container .side-1 {
    width: 100%;
  }
  #about .container .side-1 .profile {
    flex-direction: column;
    align-items: baseline;
  }
  #about .container .side-2 {
    width: 100%;
    padding: 0;
  }
  #about .container .side-1 .profile p span {
    font-size: 1.1rem;
  }
  #about .container .side-1 .profile p {
    font-size: 1.12rem;
  }
  #services .container .item {
    width: 100%;
  }
  #statistics .container {
    width: 95%;
    display: flex;
    justify-content: space-around;
  }
  #statistics .container .item {
    width: 50%;
    margin-bottom: 40px;
  }
  #portfolio .container .items {
    justify-content: center;
  }
  #portfolio .container .items .item {
    width: calc(100% - 20px);
  }

  #blog .card {
    width: calc(100% - 20px);
  }
  #blog .container {
    justify-content: center;
    gap: 20px;
  }
  #contact .container {
    flex-direction: column;
    padding: 20px;
  }
  #contact .container h4 {
    font-size: 1.7rem;
  }
  #contact .container .side-1 {
    width: 100%;
  }
  #contact .container .side-2 {
    width: 100%;
  }
  #contact .container .side-2 .icons {
    justify-content: center;
    margin-top: 50px;
  }
}

@media screen and (min-width: 640px) and (max-width: 1000px) {
  :root {
    --section-width: 95%;
    flex-direction: column;
  }
  #nav-bar .nav-links {
    display: none;
    width: 100%;
  }

  #nav-bar .nav-links.show {
    display: block;
  }

  #nav-bar .container {
    flex-direction: column;
    padding: 10px;
  }

  .nav-links ul {
    flex-direction: column;
    width: 100%;
  }

  .nav-links ul li {
    padding: 0.5rem 0;
  }
  .nav-logo a.active {
    color: red;
  }
  #head h1 {
    font-size: 3rem;
  }
  #head #typing {
    font-size: 2rem;
  }
  #about .container {
    flex-direction: column;
    align-items: start;
  }
  #about .container .side-1 {
    width: 100%;
  }
  #about .container .side-2 {
    width: 100%;
  }

  #about .container .side-1 .profile p span {
    font-size: 1.3rem;
  }
  #about .container .side-1 .profile p {
    font-size: 1.12rem;
  }
  #services .container .item {
    width: 100%;
  }
  #statistics .container {
    width: 95%;
    display: flex;
    justify-content: space-around;
  }
  #statistics .container .item {
    width: 90px;
  }
  #portfolio .container .items {
    justify-content: center;
  }
  #portfolio .container .items .item {
    width: calc(100% - 20px);
  }

  #blog .card {
    width: calc(100% - 20px);
  }
  #blog .container {
    justify-content: center;
    gap: 20px;
  }
  #contact .container {
    flex-direction: column;
  }
  #contact .container .side-1 {
    width: 100%;
  }
  #contact .container .side-2 {
    width: 100%;
  }
  #contact .container .side-2 .icons {
    justify-content: center;
    margin-top: 50px;
  }
}

@media screen and (min-width: 1280px) {
}
